body {
  background-color: #F3F3F3;
  margin: 0; }

main {
  padding-top: 120px;
  background-color: #F3F3F3; }

#barraSuperior {
  background: white;
  z-index: 100;
  width: 100% !important;
  height: 100px;
  position: fixed;
  margin: 0 !important; }
  #barraSuperior .logoFlex {
    width: 110px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px; }

#menu {
  font-family: 'Quicksand', Georgia, sans-serif;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  margin-left: 30%; }

li a {
  text-decoration: none;
  color: #202020; }

li a:hover {
  color: #d3167e !important; }

@media screen and (min-width: 780px) and (max-width: 1000px) {
  .navbar-toggler-icon {
    margin-right: 90%; }
  .logoFlex {
    width: 95px;
    height: 80px;
    margin-top: 5px; } }

@media screen and (min-width: 476px) and (max-width: 780px) {
  .navbar-toggler-icon {
    margin-right: 90%; }
  .logoFlex {
    width: 95px;
    height: 80px;
    margin-top: 5px; } }

#nosotros {
  height: 600px;
  width: 100%; }

.portadaFlex {
  width: 380px;
  height: 250px;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px 1px #e0e0e0;
  -moz-box-shadow: 0px 0px 6px 1px #e0e0e0;
  box-shadow: 0px 0px 6px 1px #e0e0e0;
  margin-top: 150px; }

#textoPrincipal {
  height: 40px;
  font-family: 'Quicksand', sans-serif;
  color: #2454c4;
  font-size: 20px;
  text-align: center; }
  #textoPrincipal strong {
    font-family: 'Quicksand', Georgia, sans-serif;
    font-size: 25px;
    text-align: center; }
  #textoPrincipal .descripcion {
    text-align: center;
    font-size: 20px;
    color: #202020; }

@media screen and (min-width: 620px) and (max-width: 1000px) {
  #textoPrincipal {
    margin-left: 5px; } }

@media screen and (min-width: 310px) and (max-width: 476px) {
  #nosotros {
    height: 500px;
    width: 100%; }
  .portadaFlex {
    width: 250px;
    height: 150px;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 6px 1px #e0e0e0;
    -moz-box-shadow: 0px 0px 6px 1px #e0e0e0;
    box-shadow: 0px 0px 6px 1px #e0e0e0;
    margin-top: 50px;
    margin-left: 45px; }
  #textoPrincipal {
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    color: #2454c4;
    font-size: 20px;
    text-align: center;
    margin: 0; }
    #textoPrincipal strong {
      font-family: 'Quicksand', Georgia, sans-serif;
      font-size: 20px;
      text-align: center;
      margin: 0; }
    #textoPrincipal .descripcion {
      text-align: center;
      font-size: 18px;
      color: #202020;
      margin: 0; } }

#ir_arriba_boton {
  position: fixed;
  z-index: 1000;
  bottom: 40px;
  right: 50px;
  color: #d3167e;
  text-align: center;
  transition: all .2s; }

#ir_arriba_boton:hover {
  cursor: pointer;
  transform: scale(1.1); }

.indicador_contenedor {
  width: 100%;
  position: fixed;
  top: 0;
  height: 7px;
  z-index: 1001; }
  .indicador_contenedor .indicador_scroll {
    height: 100%;
    width: 0;
    background-color: #d3167e; }

#servicios {
  width: 100%;
  height: 100em;
  align-items: center;
  background-image: linear-gradient(#fa80bd 0%, #fcacd4 90%);
  font-family: 'Quicksand', Roboto, sans-serif; }
  #servicios i {
    font-size: 30px;
    align-items: center;
    padding-top: 30px;
    margin-left: 45%; }
  #servicios #cajaDG, #servicios #cajaF, #servicios #cajaV, #servicios #cajaSM {
    font-family: 'Quicksand', Ropa Sans, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px; }
  #servicios p {
    font-size: 25px;
    text-align: center; }
  #servicios .verPacks {
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    color: #2454c4;
    background-color: #e0e0e0;
    font-weight: bold;
    text-shadow: 2px 0.5px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 60px;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    transition-duration: 1s; }
  #servicios .verPacks:hover {
    color: #e0e0e0;
    background-color: #2454c4;
    text-shadow: 2px 0.5px 2px rgba(112, 112, 112, 0.3);
    -webkit-box-shadow: 0px 0px 6px 1px #727272;
    -moz-box-shadow: 0px 0px 6px 1px #727272;
    box-shadow: 0px 0px 6px 1px #727272;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    width: 200px;
    height: 60px; }

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  #servicios {
    height: 500px; }
  .verPacks {
    margin-left: 230%; } }

@media screen and (min-width: 780px) and (max-width: 1000px) {
  #servicios {
    height: 900px; }
  .verPacks {
    margin-left: 150%; } }

@media screen and (min-width: 476px) and (max-width: 780px) {
  #servicios {
    height: 1000px; }
  .verPacks {
    margin-left: 90%; } }

@media screen and (min-width: 310px) and (max-width: 476px) {
  #servicios {
    height: 80em; }
  .verPacks {
    margin-left: 50px;
    width: 50px;
    height: 10px; }
  #cajaDG, #cajaF, #cajaV, #cajaSM {
    font-family: 'Quicksand', Ropa Sans, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px; }
  p {
    font-size: 10px;
    text-align: center; } }

#clientes h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 30px; }

#clientes #listaClientes {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }

#clientes .imgCuadricula {
  width: 300px;
  height: 300px;
  margin: 16px 16px 16px 16px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 2px #e0e0e0;
  -moz-box-shadow: 4px 4px 8px 2px #e0e0e0;
  box-shadow: 4px 4px 8px 2px #e0e0e0; }

#clientes .imgCuadricula:hover {
  -webkit-box-shadow: -1px 1px 22px -1px #747474;
  -moz-box-shadow: -1px 1px 22px -1px #747474;
  box-shadow: -1px 1px 22px -1px #747474; }

#carouselExampleControls {
  height: 600px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 15px; }

.imgCarrousel {
  border-radius: 10px;
  width: 500px;
  height: 500px; }

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  #carouselExampleControls {
    height: 600px; } }

@media screen and (min-width: 780px) and (max-width: 1000px) {
  #carouselExampleControls {
    height: 450px; }
  .imgCarrousel {
    width: 400px;
    height: 400px; } }

@media screen and (min-width: 476px) and (max-width: 780px) {
  #carouselExampleControls {
    height: 300px; }
  .imgCarrousel {
    border-radius: 10px;
    width: 150px;
    height: 150px; } }

@media screen and (min-width: 310px) and (max-width: 476px) {
  #carouselExampleControls {
    height: 400px; }
  .imgCarrousel {
    border-radius: 10px;
    width: 270px;
    height: 270px;
    margin-left: 30px; } }

#packs {
  font-family: 'Quicksand', Ropa Sans, sans-serif;
  font-size: 18px;
  background-color: #F3F3F3; }

#conteinerPacks {
  background-color: #f7cbe1;
  width: 100%;
  height: 200px; }

#conteinerPacks img {
  width: 180px;
  height: 170px;
  margin-top: 25px;
  margin-left: 45%;
  align-items: center; }

#packPadre {
  height: 500px; }

.packSPM {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  margin-left: 50px;
  margin-top: 60px;
  transition-duration: 1s; }

.packSPM:hover {
  transform: scale(1.15, 1.15);
  -webkit-box-shadow: -1px 1px 22px -1px #747474;
  -moz-box-shadow: -1px 1px 22px -1px #747474;
  box-shadow: -1px 1px 22px -1px #747474; }

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  #packPadre {
    height: 500px; } }

@media screen and (min-width: 780px) and (max-width: 1000px) {
  #packPadre {
    height: 1100px; }
  #conteinerPacks img {
    width: 150px;
    height: 140px;
    margin-top: 25px;
    margin-left: 29%;
    align-items: center; } }

@media screen and (min-width: 476px) and (max-width: 780px) {
  #packPadre {
    height: 1100px; }
  #conteinerPacks img {
    width: 150px;
    height: 140px;
    margin-top: 25px;
    margin-left: 25%;
    align-items: center; } }

@media screen and (min-width: 310px) and (max-width: 476px) {
  #packPadre {
    height: 60em; }
  #conteinerPacks img {
    margin-left: 25%; }
  .packSPM {
    width: 270px;
    height: 270px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 60px;
    transition-duration: 1s; } }

#contacto {
  background-color: #F3F3F3;
  height: 40em;
  margin-top: 15px; }

#porMail {
  font-size: 18px; }

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  #contacto {
    height: 40em; } }

@media screen and (min-width: 780px) and (max-width: 1000px) {
  #contacto {
    height: 950px; }
  #porMail p {
    font-size: 18px; } }

@media screen and (min-width: 476px) and (max-width: 780px) {
  #contacto {
    height: 950px; } }

@media screen and (min-width: 310px) and (max-width: 476px) {
  #contacto {
    height: 55em; }
  #porMail p {
    font-size: 20px;
    margin-left: 5px; } }

#pie-pagina {
  background-image: linear-gradient(#fa80bd 0%, #fcacd4 90%);
  font-family: 'Quicksand', Ropa Sans, sans-serif;
  font-size: 20px;
  height: 110px;
  margin-top: 20px; }
  #pie-pagina a i {
    color: black;
    font-size: 25px; }
  #pie-pagina p {
    margin-top: 12px; }

@media screen and (min-width: 780px) and (max-width: 1000px) {
  #pie-pagina {
    height: 150px; }
  .pie-pagina__descripcion {
    font-size: 20px; } }

@media screen and (min-width: 476px) and (max-width: 780px) {
  #pie-pagina {
    height: 250px; } }

@media screen and (min-width: 310px) and (max-width: 476px) {
  #pie-pagina {
    height: 400px;
    font-size: 20px; }
  .pie-pagina__descripcion {
    font-size: 20px; } }
